extends ../../shared/components/views/base
block view-specific-scripts
    script(src="js/about.js")
block content
    div.text-title
        | SERP-connect: a web-tool for linking practical challenges with
        | research results in software testing

    div
        | SERP-connect is developed to support the use and evolution of the &#32;
        a(href="http://link.springer.com/article/10.1007/s11219-016-9322-x").link SERP-test taxonomy
        | &#32; aiming at the interface between research and
        | practice in software testing. Descriptions of practical challenges and
        | research results are classified and organized according to four facets:

    ol.text
        li Intervention - characteristics of possible solutions 
        li Effect - the effect targets, or measured effects of an intervention
        li Scope - the scope of an effect or an effect target
        li Context - factors in the context affecting the applicability of an intervention

    div
        | With SERP-connect you may:

    ul.text
        li classify practical challenges in a researchable fashion (aligned with the state of the art of software testing)
        li classify research results from a pragmatic and relevant perspective
        li search for matching entries in the database
        li connect with researchers and/or practitioners dealing with similar challenges in software testing
        li explore the database of available software testing challenges and results
        li compare a collection of entries with respect to the four facets of SERP-test
        li submit own entries
        li submit and explore own collections of entries (related to e.g. a industry-academia collaboration project or a secondary study)

    div.text
        | You can &#32;
        a(href="/explore.html").link browse
        | &#32; through existing research and challenges in the system and you can &#32;
        a(href="/search.html").link search
        | &#32; for research related to your challenge.

    div.text
        | SERP-connect is an open source project, which started as a
        | collaboration between researchers from Lund University and Blekinge
        | Institute of Technology in 2015.
        | Contributions to the website are very welcome, you may &#32;
        a(href="/login.html").link signup for an account
        | &#32; or contact us at &#32;
        a(href="mailto:serpconnect@cs.lth.se").link serpconnect@cs.lth.se
        | &#32;.
        | The project itself is split into a &#32;
        a(href="https://github.com/emenlu/website").link frontend
        | &#32; and a &#32; 
        a(href="https://github.com/emenlu/connect").link backend
        | . Improvements to the tool itself can be made there. See &#32;
        a(href="https://github.com/emenlu/connect/blob/master/CONTRIBUTING.md").link here
        | &#32; for more information.

    div.text
        | SERP-test and SERP Connect would not be possible without the support
        | of the following:

    div.sponsors
        div.sponsor-row
            div.sponsor
                a(href="http://www.liu.se/elliit")
                    img(src="img/elliit-logo-small.png")
            div.sponsor
                a(href="http://krapperup.se/")
                    img(src="img/krapperup-logo-small.png")
            div.sponsor
                a(href="http://www.lu.se/")
                    img(src="img/lu-logo-small.png")
            div.sponsor
                a(href="http://www.bth.se/")
                    img(src="img/bth-logo-small.png")
